[gui]
	recentrepo = C:/Users/s171266/Documents/Unity Projects/CustomEditorTesting
	recentrepo = C:/Users/s171266/Documents/Unity Projects/githubTest
[user]
	name = oih146
	email = t.sobb97@yahoo.com.au
